@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@100&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
.main{
    /* border-color: yellow; */
    width: 100%;
}

/* sidebar */
.sidebar{
    position: absolute;
    background-color: rgb(170, 163, 163);
    /* width: 434px; */
    font-family: 'Fira Sans', 'sans-serif';
    font-size: 15px;
    height: 100%;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;

}

.sidebar nav li{    
    list-style: none;
    font-size: 2em;
    padding: 1em 0;
    
}
.sidebar nav li a{
text-decoration: none;
color: black;

}
.container{
display: flex;

}

.infoContainer{
    /* background-color: lightblue; */
    height: 58%;
    width: 90%;
    margin: 140px 100px; 
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}



.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

.devPic img{
    width: 300px;
    height: 65vh;
    justify-content: space-around;
}

.hello{
    font-size: 3em;
}

.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', 'sans-serif';

}

.moreabout{
    margin-top: 10px;

}
.about{
    font-size: 2.5em;
}

.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}

.btn{
    margin: 15px 20px;
    font-size: 1.5em;
    padding: 10px 14px;
    color: white;
    background-color: rgb(170, 163, 163);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;

}


.btn-primary{
    font-size: .8em;
    padding: 10px 19px;
    margin: 10px 0;
}
/* contact page style  */

.contactForm{
    padding: 20px 35px;
    margin: 50px 88px;
}
.heading{
    font-family: 'Fira Sans', 'sans-serif';
    font-size: 25px;
    /* padding: 12px 0; */

}
.innerContent{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

.contactForm form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}
.contactForm form {
   margin :0 40px;
}

.contactForm form div input{
    width: 40%;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 9px;
    color: midnightblue;
    margin: 0 5px;
    
}

#form-check{
 flex-direction: row;

}

#form-check-input{
    width: 24px;
    padding-top: 5px;
    margin: 9px 0px;

}
.contactForm h1{
    margin-left: 40px;
}

/*blog page style*/

.blogContainer{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    padding: 5px;

}

.blogItem p{
    margin: 5px 0px;
}

/* my intro style  */

.devInfo p{
    margin: 10px 0;
}

.devInfo h2{
    margin: 10px 0;
}

.devInfo li{
    margin: 10px 0;
}

.skillContainer{
    padding: 12px;
    
}

.skillItem{
    align-items: center;
    padding: 5px;
    font-weight: 900;
}

.skill{
    width: 260px;
    height: 8px;
    background-color: gray;
    border: 2px solid darkgray;
    
}

.hundred{
     width: 260px;
     background-color: rgb(13, 255, 17);
}
.s5{
     width: 195px;
     background-color: rgb(202, 237, 106);

}
.fifty{
     width: 130px;
     background-color: rgb(223, 244, 34) ;

}
.t5{
     width: 65px;
     background-color: rgb(235, 131, 67);

}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
position: absolute;
cursor: pointer;
top: 10px;
left: 10px;
margin-top: 10px;
}
.ham{
    margin-left: 10px;
}

.cross{
    margin-left: 140px;
    
}

@media screen and (max-width: 850px){
   .devPic{
        display: none;
    }

    .buttons{
        font-size: 6px;
    }

    .blogContainer.infoContainer{
        padding-top: 30px;
        margin:50px 8px;
    } 
    .devInfo{
        font-size: 10px;
    }
    .sidebar nav li{
        font-size: 1em;
    }
    .devInfo p{
        font-size: 15px;
    }
    .blogContainer{
  
        margin: 10px;
        padding: 50px;
       
    
    }

        .contactForm{
        padding: 70px 5px;
       
        margin: 10px 5px;
    }
    .skillItem{
        font-size: 15px;
    }
    .skillContainer{
        padding-right: 30px;
    }
        

}





